#a {
border: 2px solid black;
background-color: white;
display: block;
}
body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #52ad8a;
  }
  div{
    border: 2px solid #AAD0C7;
    border-radius: 20px;
  }
  #titulo:focus{
    background-color: #52ad8a;
  }
  
  #titulo {
  border-radius: 10px;
  padding: 10px 15px 10px 15px;

  }
  
  #instrucoes:focus{
    background-color: #52ad8a;
  }
  
  #instrucoes {
    border-radius: 10px;
    resize: none;
  }
  #prazo {
    border-radius: 10px;
  }
  #valor{
    border-radius: 10px;
  }
  #criar {
    border-radius: 10px;
  }